* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li {
	list-style-type: none;
}

body {
	width: 350px;
}

#wrapper {
	width: 100%;
	padding: 20px;
}

.title {
	font: bold 22px sans-serif;
	margin-bottom: 20px;
}

.user-agent-title {
	font: 18px sans-serif;
	margin-bottom: 10px;
}

.user-agent {
	color: blue;
	font: bold 15px sans-serif;
	margin-bottom: 30px;
}

.user-agent-list-title {
	margin-bottom: 20px;
	font: 18px sans-serif;
	text-decoration: underline;
}
.user-agent-list li {
	margin-bottom: 12px;
	display: flex;
	align-items: flex-start;
}
.user-agent-list li input {
	display: block;
}
.user-agent-list li label {
	display: block;
	font: 14px sans-serif;
	color: royalblue;
	position: relative;
	top: -1px;
	margin-left: 7px;
}

.change-btn {
	background: #ddd;
	padding: 5px 15px;
	font: 16px sans-serif;
	border: 1px solid #333;
	color: #333;
	cursor: pointer;
}